  /*INFO*/
  
  @keyframes animateInfo {
      0% {
          height: 0px;
          overflow: hidden;
      }
      100% {
          height: 735px;
          overflow: hidden;
      }
  }
  
  @keyframes animateInfo2 {
      0% {
          height: 735px;
          overflow: hidden;
      }
      100% {
          height: 0px;
          overflow: hidden;
      }
  }
  /*EDUCATION*/
  
  @keyframes animateEdu {
      0% {
          height: 0px;
          overflow: hidden;
      }
      100% {
          height: 670px;
          overflow: hidden;
      }
  }
  @keyframes animateEdu2 {
    0% {
        height: 670px;
        overflow: hidden;
    }
    100% {
        height: 0px;
        overflow: hidden;
    }
}
  /*CONTACT*/
  
  @keyframes animateContact {
      0% {
          height: 0px;
          overflow: hidden;
      }
      100% {
          height: 820px;
          overflow: hidden;
      }
  }
  
  @keyframes animateContact2 {
      0% {
          height: 820px;
          overflow: hidden;
      }
      100% {
          height: 0px;
          overflow: hidden;
      }
  }
  /*STACK*/
  
  @keyframes animateStack {
      0% {
          width: 0px;
      }
      100% {
          width: 78%;
      }
  }

  @keyframes animateStack2 {
    0% {
        width:78%;
    }
    100% {
        width: 0px;
    }
}

  

@keyframes animate90 {
    0% {
        stroke-dashoffset: 440;
    }
    100% {
        stroke-dashoffset: 44;
    }
}
@keyframes animate85 {
    0% {
        stroke-dashoffset: 440;
    }
    100% {
        stroke-dashoffset: 66;
    }
}
@keyframes animate75 {
    0% {
        stroke-dashoffset: 440;
    }
    100% {
        stroke-dashoffset: 110;
    }
}@keyframes animate100 {
    0% {
        stroke-dashoffset: 440;
    }
    100% {
        stroke-dashoffset: 0;
    }
}@keyframes animate95 {
    0% {
        stroke-dashoffset: 440;
    }
    100% {
        stroke-dashoffset: 22;
    }
}@keyframes animate80 {
    0% {
        stroke-dashoffset: 440;
    }
    100% {
        stroke-dashoffset: 88;
    }
}
@keyframes animate60 {
    0% {
        stroke-dashoffset: 440;
    }
    100% {
        stroke-dashoffset: 176;
    }
}